<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>PWL - Pendaftaran Lomba</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/bootstrap/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            
            <!-- Get Datetime -->
            <a class="tab">"<span id="demonew"></span> - <span id="demo"></span>"</a>
            <!-- End Of Get Datetime -->

            <div class="container">
                
                <a class="navbar-brand" href="/">Pendaftaran Lomba - 17 Agustus </a>
                

                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        
                        <li class="nav-item mx-0 mx-lg-1 btn btn-outline-light">
                          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/peserta/list">Peserta</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn btn-outline-light">
                          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/perlombaan">Lomba</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn-inline-light hidden">
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn-inline-light hidden">
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn-inline-light hidden">
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn btn-outline-light">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/profile/detail">Profile</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn-inline-light hidden">
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn-inline-light hidden">
                        </li>
                        <li class="nav-item mx-0 mx-lg-1 btn btn-outline-light">
                          <a class="nav-link py-3 px-2 px-lg-6 rounded" href="/logout"><i class="fa fa-sign-out"></i> Keluar</a>
                        </li>
                        
                        <!-- <li class="fa fa-sign-out" aria-hidden="true"></li> -->
                        <!-- <div class="col px-md-5"><li class="nav-item mx-0 mx-lg-1 btn btn-outline-light col px-md-5"><a class="nav-link py-3 px-0 px-lg-3 pk-md-5 rounded fa fa-sign-out" href="/logout">Keluar</a></li></div> -->
                    </ul>
                </div>
            </div>
            <!-- Get Username Login -->
            <% if(typeof sessions !== 'undefined') { %>
                <a class="text-uppercase"> " <%= sessions.username %> " </a>
            <% } %>
            <!-- End Of Get Username Login -->
        </nav>
        <br><br>
        <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(dd<10) {
                dd='0'+dd
            } 
            
            if(mm<10) {
                mm='0'+mm
            } 
            
            today = dd+'/'+mm+'/'+yyyy;
            document.getElementById("demonew").innerHTML = today;
            var myVar=setInterval(function(){myTimer()},1000);
            
            function myTimer() {
                var d = new Date();
                document.getElementById("demo").innerHTML = d.toLocaleTimeString();
            }
          </script>