<%- include('base') -%>
<link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css rel=stylesheet>

<header class="masthead bg-danger text-white text-center">
  <h2 class="text-center"><%= title %></h2>
</header>
<section class="page-section" style="padding-top: 1rem;">
  <div class="container">
    <p>Tambah Daftar Lomba</p>
      <form action='perlombaan/tambah' method='post' role='form'>
      <div class='form-group'>
        <label for='exampleInputEmail'>Nama</label>
        <input type='text' name='nama' class='form-control' placeholder='Masukan Nama Perlombaan' required>
      </div>
      
      <button type='submit' class='btn btn-primary'>Submit</button>
      <br><br><br>

      <p>Daftar Nama Perlombaan</p>
      <table class='table' id="example">
      <thead>
        <tr>
        <th scope='col'>Id</th>
        <th scope='col'>Nama</th>
        </tr>
      </thead>
      <tbody>
        <% var no=1 %>
        <% for(var i = 0; i < perlombaan.length; i++){ %>
          <tr>
          <th scope='row'><%= no++ %></th>
          <td><%= perlombaan[i].nama %></td>
          <td><a href="/perlombaan/delete/<%= perlombaan[i]._id %>" onclick="return confirm('Apa kamu yakin akan menghapus data ini')" ><i class="fas fa-trash" ></i></a> </td>
          </tr>
        <% } %>
      </tbody>  
      </table>
  </div>
</section>
  
  <!-- footer included -->
  <%- include('footer') -%>

 </body>
 <script src='/bootstrap/js/bootstrap.min.js'></script>
 <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
 <script>
  $(document).ready(function() {
    $('#example').DataTable({
    "aaSorting": [],
    columnDefs: [{
    orderable: false,
    targets: 2
    }]
  });
    $('.dataTables_length').addClass('bs-select');
});
</script>
</html>